.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    height: 300px;
    
}