.card-img{
    height: 300px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}
.display-items{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.display-items-2nd{
    display: flex;
    justify-content: space-evenly;
}
.card-hover{
    border: 2px solid rgb(22, 146, 84);
    border-radius: 100px;
    
}
.button:hover{
    background-color: red;
}
.card-hover:hover{
    background-color: rgba(196, 194, 192, 0.308);
    box-shadow: 1px 1px 7px 7px rgb(212, 208, 201);
}