.home-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(208, 225, 226);  
}

.home-container img{
    height: 500px;
}
.offer-section img{
    height: 300px;
    border-radius: 10px;
}
.offer-section{
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    border-radius: 20px;
    background-color: rgb(237, 241, 241);
}
.form{
    border: 3px solid lightgreen;
    border-radius: 10px;
}



