.home-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(208, 225, 226);
}
.home-text{
    width: 30%;
    padding: 20px;
}
.home-container img{
    height: 500px;
}
.Subject-container{
    margin: 50px;
}

.offer-section img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.offer-section{
    margin-top: 52px;
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    border-radius: 20px;
    margin: 100px;
    margin-top: 0px;
    background-color: rgb(178, 234, 238);
}
.Text{
    width: 30%;
}
span{
    color: red;
}
